
/* Variables */
:root {
  --border-radius-content: 0.75rem;
  --border-radius-container: var(--border-radius-content);
  --link-color: #4a90e2;
  --link-hover-color: #82cfff; 
  --background-color: #f0f0f0; 
  --text-color: #000000;
  --primary-font: var(--font-kotta-one), system-ui, sans-serif;
  --secondary-font: var(--font-noto-sans-mono), "Noto Sans Mono", monospace;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
    color-scheme: dark;
  --page-margin: 1rem;
  --navigation-height: 3rem;
  --navigation-page-gap: var(--page-margin);
  --interactive-color: rgba(255, 255, 255, 0.8);
  --interactive-color-hover: white;
  --interactive-transition: background-color 100ms ease;
}


/* CSS Reset by Josh Comeau
https://www.joshwcomeau.com/css/custom-css-reset/#eight-root-stacking-context-9
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  font-family: var(--primary-font);
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

blockquote {
  font-style: italic; 
  font-weight: var(--font-weight-light); 
  margin: 2rem; 
  padding: 1rem; 
  border-left: 0.1rem solid #ccc;
  background-color: rgba(255,255,255, 0.1);
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ====================
   Customizations
   ==================== */
:root {
  font-family: var(--primary-font), system-ui, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 4em;
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: 3em;
  font-weight: var(--font-weight-semibold);
}

h3 {
  font-size: 2em;
  font-weight: var(--font-weight-semibold);
}

h4 {
  font-size: 1.75em;
  font-weight: var(--font-weight-semibold);
}

h5 {
  font-size: 1.5em;
  font-weight: var(--font-weight-medium);
}

h6 {
  font-size: 1.25em;
  font-weight: var(--font-weight-medium);
  font-style: italic;
}

h1, h2, h3, h4, h5, h6, b, strong, i, em {
  font-family: var(--secondary-font);
  margin: 0.25em 0;
}

b, strong, i, em {
  font-size: 0.9em;
}

p {
  font-size: 1.25em;
  font-weight: var(--font-weight-light);
  margin-bottom: 0.5em;
}

img + blockquote {
  margin: 16px 0;
  padding: 0 8px 0;
  font-size: 12px;
  border-left: 4px solid white;
}

blockquote:before {
  color: white;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: 0.1em;
}

ul, ol {
  margin: 16px 0;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Links */
a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

/* Set dark mode as the preferred color scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --text-color: #ffffff;
    --link-color: #5CA3FF; /* darker blue for links 9BC3F8 */
    --border-color: #333333;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  a {
    color: var(--link-color);
  }
  
  a:hover {
    color:  #82cfff ;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.25em; 
  }

  h2 {
    font-size: 1.75em; 
  }

  h3 {
    font-size: 1.5em; 
  }

  h4 {
    font-size: 1.25em; 
  }

  h5 {
    font-size: 1.1em; 
  }

  h6 {
    font-size: 1em; 
  }

  p {
    font-size: 1em; 
  }

  blockquote {
    font-size: 1em; 
  }
}
