/* carousel.module.css */

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 80vh;
  /* Maximale Höhe auf 80% der Viewport-Höhe */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(5, 37, 97, 0.9);
  /* Dunkler Hintergrund */
}

.emblaViewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.emblaContainer {
  display: flex;
  user-select: none;
  transition: transform 0.3s ease;
}

.emblaSlide {
  position: relative;
  min-width: 100%;
  /* Jedes Slide nimmt die volle Breite des Containers ein */
  flex: 0 0 100%;
  /* Kein Shrinking oder Growing - nimmt immer die volle Breite */
  display: flex;
  justify-content: center;
  align-items: center;
}

.emblaSlide img,
.emblaSlide video,
.emblaSlide iframe {
  max-width: 100%;
  /* Bild füllt die Breite des Containers */
  max-height: 100%;
  /* Bild füllt die Höhe des Containers */
  object-fit: contain;
  /* Bild anpassen, ohne Verzerrung */
}

.emblaButtonPrev,
.emblaButtonNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
  color: #000;
  z-index: 10;
}

.emblaButtonPrev {
  left: 10px;
}

.emblaButtonNext {
  right: 10px;
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
  .container {
    max-height: 60vh;
    /* Kleinere Höhe bei schmaleren Bildschirmen */
  }

  .emblaSlide img,
  .emblaSlide video,
  .emblaSlide iframe {
    max-height: 60vh;
    /* Maximale Höhe der Inhalte anpassen */
  }

  .emblaButtonPrev,
  .emblaButtonNext {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}