/* carousel.module.css */

.container {
  position: relative;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9); /* Schwarzer Hintergrund für das Karussell */
}

.emblaViewport {
  overflow: hidden;
  width: 100%;
  max-height: 80%;
}

.emblaContainer {
  display: flex;
  user-select: none;
  transition: transform 0.3s ease;
}

.emblaSlide {
  position: relative;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emblaButtonPrev,
.emblaButtonNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
  color: #000;
  z-index: 10;
}

.emblaButtonPrev {
  left: 10px;
}

.emblaButtonNext {
  right: 10px;
}
