/* carousel.module.css */

.container {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(13, 11, 74, 0.9);
}

.emblaViewport {
  overflow: hidden;
  width: 100%;
  max-height: 80vh;
}

.emblaContainer {
  display: flex;
  user-select: none;
  transition: transform 0.2s ease;
}

.emblaSlide {
  position: relative;
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.emblaSlide img,
.emblaSlide text,
.emblaSlide video,
.emblaSlide iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* Inhalt wird skaliert, ohne das Seitenverhältnis zu verzerren */
}

.emblaButtonPrev,
.emblaButtonNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
  color: #000;
  z-index: 10;
}

.emblaButtonPrev {
  left: 10px;
}

.emblaButtonNext {
  right: 10px;
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
  .container {
    max-height: 60vh;
    /* Weniger Höhe auf kleineren Bildschirmen */
  }

  .emblaButtonPrev,
  .emblaButtonNext {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}