.header {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.menu {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: width 0.2s ease, height 0.2s ease;
}

.menu:hover {
  width: 80px; 
  height: 80px;
  background-color: rgba(255, 255, 255, 1);
}

.menu.active {
  width: 80px; 
  height: 80px;
  background-color: rgba(255, 255, 255, 1);
}

.navMenu {
    position: fixed;
    top: 100px;
    right: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: max-content;
    min-width: 15%;
    max-width: 100%;
    max-height: 70vh;
    overflow-y: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.viewsSection {
  display: flex; 
  justify-content: space-between; 
  padding: 10px;
  font-weight: bold;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd; 
}

.viewsSection a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.viewsSection a svg {
  margin-right: 8px;
}

.viewsSection a:hover {
  color: blue; /*toDo: Linkfarbe ggf. ändern*/
}

.projects {
  background-color: rgba(0, 0, 0, 0.1);
}

.navMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navMenu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.navMenu li:last-child {
    border-bottom: none;
}

.navMenu a {
    text-decoration: none;
    color: black;
}


.hotSpot {
  cursor: pointer;
  font-weight: bold;
}

/* Styling für den separaten Abschnitt der statischen Links */
.staticLinks {
  margin-top: 10px;
}

.staticLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.staticLinks li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.staticLinks li:last-child {
  border-bottom: none;
}

.staticLinks a {
  color: #29486b;
}

.navMenu ul li a.visited {
  color: black; /* Farbe für besuchte Projekte */
}

.navMenu ul li a.unvisited {
  color: rgb(145, 151, 232); /* Farbe für unbesuchte Projekte */
}

.buttonContainer {
  display: flex;
  flex-direction: row; /* Buttons untereinander anordnen */
  align-items: center;
  margin: 10px;
}

.iconButton {
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  margin: 8px;
  transition: background-color 0.3s ease;
}

.iconButton:hover {
  background-color: #bbb;
}

.iconButton svg {
  font-size: 1rem; 
  color: #333;
}


@media (max-width: 600px) {
  .navMenu {
    right: 5px;
    left: 5px;
    width: 90%;
    margin: 0 auto;
  }

  .navMenu li {
    padding: 5px;
  }
}
