.header {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.menu {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: width 0.2s ease, height 0.2s ease;
}

.menu:hover {
  width: 80px; 
  height: 80px;
  background-color: rgba(255, 255, 255, 1);
}

.menu.active {
  width: 80px; 
  height: 80px;
  background-color: rgba(255, 255, 255, 1);
}

.navMenu {
    position: absolute;
    top: 90px;
    right: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: max-content;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (max-width: 600px) {
    .navMenu {
        right: 5px;
        left: 5px;
        width: 90%;
        margin: 0 auto;
    }
}

.navMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navMenu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.navMenu li:last-child {
    border-bottom: none;
}

.navMenu a {
    text-decoration: none;
    color: black;
}

.navMenu li:first-child a {
    font-weight: bold;
}

/* Styling für den separaten Abschnitt der statischen Links */
.staticLinks {
  margin-top: 10px;
}

.staticLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.staticLinks li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.staticLinks li:last-child {
  border-bottom: none;
}

.staticLinks a {
  color: #29486b;
}

