/* showcasePiece.module.css */

.figure {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image,
.video,
.web {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    max-width: 100%;
}
.audio {
  margin: auto;
}

.text {
    font-family: monospace;
    padding: 20px;
    background-color: #111;
    color: #fff;
    border-radius: 8px;
    max-width: 100%;
    overflow-wrap: break-word;
}

.web iframe {
    border: none;
    width: 100%;
    height: 100%;
}
