.article {

}

.projectTitle {
  text-wrap: balance;
}

.website {
  width: 100%;
  aspect-ratio: 16 / 9;
  pointer-events: none;
}

.documentation {

}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
