/* Container für das gesamte Layout und die Positionierung */
.boxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0; 
  padding: 20px; 
}

/* Container für die Textformatierung */
.textContainer {
  display: flex;
  flex-direction: column; 
  width: 80%;
  max-width: 1200px;
  text-align: justify; 
  background-color: rgba(255, 255, 255, 0.05); 
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px auto;
  border-radius: var(--border-radius-container)
}

.navigation {
  margin-bottom: 20px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vh; 
  height: 20vh; 
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 50%;
  margin: 2rem auto 1rem;
}


/* Responsive Design */
@media (max-width: 600px) {
  .textContainer {
    width: 95vw; 
  }

  .title {
    font-size: 1.5em;
  }
}
