/* Container für das gesamte Layout und die Positionierung */
.boxContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh; 
  margin: 0; 
  padding: 20px;
  background-color: rgba(0,0,0,0.3);
  position: relative;
}

/* Container für die Textformatierung */
.textContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: auto;
  width: fit-content;
  max-width: 90vw;
  text-align: justify;
  border-radius: var(--border-radius-container);
  background-color: rgba(0,0,0,0.4);
  color: var(--text-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  align-self: center;
}

.navigation {
  display: flex; 
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 0 2.25rem 1.25rem 0;
}

.bold {
  font-weight: bold;
}

.iconWrapper {
  display: grid; /* Verwende Grid für das Layout */
  grid-template-columns: repeat(3, 1fr); /* Drei gleich große Spalten */
  gap: 1rem; /* Abstand zwischen den Icon-Containern */
  margin-top: 2rem;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vh;  
  height: 15vh; 
  border-radius: 50%; 
  background-color: rgba(255, 255, 255, 0.9); 
}

.iconTitle {
  margin-top: 0.5rem;
  font-size: 1.2em; 
}

.iconDescription {
  margin-top: 0.5rem;
  width: 90%; 
  text-align: justify; 
}

.iconColor {
  color: rgba(0,0,0,0.95);
}

.linkContainer {
  text-decoration: none; /* Entfernt die Standard-Unterstreichung */
  color: inherit; /* Erbt die Farbe von den umschlossenen Elementen */
}

.linkContainer:hover {
  opacity: 0.8; /* Leichter Hover-Effekt */
}

/* Responsive Design */
@media (max-width: 800px) {
  .iconWrapper {
    grid-template-columns: 1fr;
  }

  .iconContainer {
    margin: 0.5rem 0;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .textContainer {
    width: 100%; 
  }

  .title {
    font-size: 1.5em;
  }
}
