/* Styles for ListProjectsPage */

/* Container für das gesamte Layout und die Positionierung */
.boxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: transparent;
}

/* Root styling, inheriting dark background */
.textContainer {
  padding: 2rem;
  margin: 2rem auto;
  height: max-content;
  width: max-content;
  max-width: 1200px;
  justify-content: center;
  border-radius: var(--border-radius-container);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--text-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.pageTitle {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Table Styling */
.projectTable {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0.5rem;
  background-color: rgba(255,255,255,0.05);
  border-radius: var(--border-radius-content);
}

/* Table Headers */
.projectTable thead th {
  text-align: left;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.8);
  vertical-align: top;
}

/* Table cells */
.projectTable td {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem 0.5rem;
  vertical-align: top;
}

/* Remove padding for the first column (icons) */
.projectTable td:first-child {
  padding: 0.2rem; 
}

/* Ensure icons fill the cell */
.projectTable img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.projectTable td a {
  display: block; /* Macht den Link block-level, damit die ganze Zelle klickbar ist */
  width: 100%;
  height: 100%;
}

.projectTable td:has(a):hover,
.projectTable th:has(a):hover {
  background-color: rgba(255, 255, 255, 0.2); /* Hover-Effekt für Zellen mit Links */
}

.projectTable td,
.projectTable th {
  padding-left: 1rem;
  padding-right: 1rem;
}

