.home {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}

.content {
  position: relative;
  z-index: 1;
}

.mainHidden,
.mainVisible {
  position: relative;
  z-index: 1;
  height: 100vh;
  transition: all 200ms ease;
  box-sizing: border-box;
}

.mainHidden {
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}

.mainVisible {
  transform: scale(1);
  opacity: 1;
}

.outerWrapper {
  padding: 80px;
  box-sizing: border-box;
}

.innerWrapper {
  background-color: white;
  display: inline-block;
  width: 100%;
  min-height: 100vh;
}

.scene {
  background-color: #7a635b;
}

/* Layout Styles */
.home {
  position: relative;
}

/* Header mit Hamburger-Menü */
.header {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.hamburger {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hamburgerIcon {
  width: 30px;
  height: 3px;
  background-color: black;
  position: relative;
}

.hamburgerIcon::before,
.hamburgerIcon::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  left: 0;
}

.hamburgerIcon::before {
  top: -8px;
}

.hamburgerIcon::after {
  top: 8px;
}

/* Dropdown-Menü Styles */
.navMenu {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navMenu li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.navMenu li:last-child {
  border-bottom: none;
}

.navMenu a {
  text-decoration: none;
  color: black;
}